<form method="POST" action="/api/sessions/changePass" id="changePassForm">

  <label for="email" >Email</label>
  <input type="email" name="email" required/>

  <label for="password" >Password</label>
  <input type="password" name="password" required/>

  <label for="confirmPassword" >Password</label>
  <input type="password" name="confirmPassword" required/>

  <button type="submit">Send</button>
</form>